.table-header, .table-content{
    display: flex;
    padding: 20px 0px;
}

.heading{
    font-size: 2rem;
    margin-top: 20px;
    font-weight: 800;
    font-family: 'Cormorant Garamond', serif;
}

.cart-total{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 0px;
}

.total-heading h2{
    font-family: 'Cormorant Garamond', serif;
    font-weight: 700;
    border-bottom: 1px solid black;
}

.checkout-btn{
    text-align: center;
}

.checkout-btn button{
    padding: 15px 30px;
    border-radius: 7px;
    outline-color: rgb(25, 123, 81);
    background-color: rgb(9, 251, 194);
    font-weight: 600;
}

.checkout-btn button:hover{
    background-color: rgb(6, 180, 111);
}

.cart-remove-btn {
    border: none;
    background-color: rgb(228, 83, 83);
    border-radius: 5px;
    padding: 5px 10px;
    color: aliceblue;
}