.product-container .container {
  display: flex;
  justify-content: space-between;
}

.product-container .container {
  padding: px;
}

.product-gallery {
  max-width: 50%;
  width: 50%;
  padding-right: 55px;
}

.image-slider {
  width: 100%;
  margin: auto;
  text-align: center;
}

.image-slider .slick-dots {
  bottom: -30px;
}

.image-slider img {
  max-width: 100%;
  height: 80vh;
  margin: auto;
}

.product-title {
  font-weight: 600;
}

.price-details {
  margin: 10px 0px;
}

.without-offer-price {
  color: rgba(0, 0, 0, 0.6);
  font-size: 13px;
  font-weight: 600;
  padding-right: 20px;
}

.without-offer-price::before {
  display: block;
  content: '';
  background-color: rgba(0, 0, 0, 0.4);
  height: 2px;
  width: 35px;
  max-width: 35px;
  position: relative;
  left: 0px;
  top: 14px;
}

.discount-percent {
  font-size: 11px;
  color: red;
  padding-top: 0px;
  font-weight: 600;
}

.current-price {
  margin-top: 5px;
  margin-bottom: 1px;
}

.current-price h3 {
  font-size: 25px;
  font-weight: 600;
}

.stock {
  font-size: 11px;
  font-weight: 600;
  color: green;
  padding: 0px 0px 10px 15px;
  margin-bottom: 10px;
  border-bottom: 2px solid rgba(0, 0, 0, 0.2);
}

.stock::before {
  display: block;
  content: '';
  background-color: green;
  height: 4px;
  width: 4px;
  position: relative;
  top: 11px;
  right: 10px;
  border-radius: 2px;
}

.shipping-desc {
  margin-top: 10px;
}

.shipping-desc span {
  font-size: 12px;
  font-weight: 600;
  color: rgb(196, 104, 216);
}

.qty-details {
  margin: 15px 0px 15px 0px;

}

.qty span {
  font-size: 13px;
  font-weight: 600;
}

.qty{
  margin-bottom: 8px;
}

.qty-btn {
  border: 1px solid rgba(0, 0, 0, 0.2);
  display: inline;
  padding: 3px 0px;
}

.qty-btn button {
  /* width: 6%; */
  border-top: none;
  border-bottom: none;
  padding: 0px 20px;
  font-weight: 500;
  /* text-align: center; */
}

.qty-btn .inc-btn {
  border-left: 1px solid rgba(0, 0, 0, 0.2);
  border-right: none;
}

.qty-btn .dec-btn {
  border-right: 1px solid rgba(0, 0, 0, 0.2);
  border-left: none;
}

.qty-btn .qty-num {
  padding: 3px 25px;
  font-weight: 500;
  font-size: 14px;
  /* border: 1px solid; */
}

.cart-btn{
  margin-top: 15px;
  padding: 5px 18px;
  font-size: 15px;
  border-radius: 15px;
  font-weight: 500;
  border: none;
  background-color: rgb(196, 104, 216);
}