.chat-container {
    position: fixed;
    right: 95px;
    top: 55px;
    height: 75%;
    width: 30%;
    background-color: beige;
    border-radius: 20px;
    padding: 20px 10px;
    overflow-y: scroll;
}