#navigation-container {
    flex-direction: column;
    justify-content: space-between;
    width: 4%;
    height: 100vh;
    padding: 65px 10px;
    background-color: #a39c9b;
    position: fixed;
    transition: width 0.3s ease-in-out;
    overflow: hidden;
    z-index: 100;
    color: black;
}

#navigation-container #user #user-icon {
    font-size: 2rem;
    padding-right: 5px;
}

#navigation-container #user  {
    display: none;
    padding: 0px 10px;
    /* overflow: hidden; */
    width: 70%;
}

#navigation-container #user svg{
    transform: translateX(0);
    transition: transform 0.1s ease-in-out;
    display: inline-block;
}

#navigation-container #user svg.active{
    transform: rotate(270deg);
}

#navigation-container #user span {
    display: none;
    word-break: keep-all;
    width: 300px;
}

#navigation-container #user li  a{
    display: block;
    padding: 8px 16px;
    text-decoration: none;
    color: black
}

#navigation-container #user li a:hover,
#navigation-container #user li button:hover {
    background-color: #dfdfe0;
}

#navigation-container #user button{
    display: none;
    width: 100%;
    padding: 8px 16px;
    border: 0px;
    text-align: left;
}

#navigation-container:hover {
    width: 15%;
    padding: 65px 16px;
}

.nav-link {
    transition-property: transform;
    transition-duration: 150ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.nav-link:hover {
    transform: translateX(0.5rem);
}

/* .nav-link svg {
    font-weight: 900;
} */

.nav-item-name {
    display: none;
    font-size: 14px;
    font-weight: 700;
    margin-left: 10px;
    transition: 0.2s ease-in-out;
    /* Add opacity transition */
}

#navigation-container:hover .nav-item-name,
#navigation-container:hover #user button,
#navigation-container:hover #user span {
    display: block;
    /* /* opacity: 1; */
}

.search-input {
    display: none;
    opacity: 0;
    transition: opacity 0.2s ease-in-out;
    /* Add opacity transition */
}

#navigation-container:hover .search-input {
    display: block;
    opacity: 1;
}

#navigation-container:hover .search-icon {
    display: none;
    transition: opacity 0.2s ease-in-out;
    /* Add opacity transition */
}

ul li{
    list-style: none;
}

#login-btn,
#register-btn {
    margin-top: 20px;
    transition-property: transform;
    transition-duration: 150ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    color: #f2f2f2;
    text-decoration: none;
}

#login-btn:hover,
#register-btn:hover{
    transform: translateX(0.5rem);
}

#login-btn svg{
    margin-right: 8px;
    margin-top: 4px;
}

.nav-link:hover {
    transform: translateX(0.5rem);
}

@media (min-width: 768px) and (max-width: 1279px) {
    #navigation-container {
        display: none;
    }
}

@media (max-width: 767px) {
    #navigation-container {
        display: none;
    }
}