@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&display=swap');

header {
  position: sticky;
  top: 0px;
  width: 100%;
  height: auto;
  padding: 17px 25px;
  background: #000;
  z-index: 100;
}

header .header {
  justify-content: space-around;
  align-items: center;
}

nav {
  position: relative;
  width: 50%;
}

.logo {
  flex-direction: column;
  color: #fff;
}

.logo div {
  font-family: "Lora", serif;
  font-size: 1.5rem;
}

nav ul li a,
header a {
  font-size: 12px;
  font-weight: 600;
  text-decoration: none;
  color: #fff;
  display: flex;
  align-items: center;
  padding: 10px 10px;
  transition: all 0.2s ease-in-out;
  border-radius: 25px;
}

nav ul li a:hover {
  background: #f0faff;
  color: #2bbef9;
}

header .part3 {
  align-items: center;
  justify-content: center;
  min-width: 90px;
  height: 45px;
  width: 30%;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  color: #fff;
  outline: none;
}

header .part3 svg {
  font-size: 20px;
  font-weight: 700;
}

header .search-box input {
  display: none;
  outline: none;
  font-size: 15px;
  width: 100%;
  height: 40px;
  border: 0px;
  padding: 0px 20px;
}


.part3 .bag {
  position: relative;
}

.part3 .count {
  position: absolute;
  text-align: center;
  top: -6px;
  right: -6px;
  width: 14px;
  height: 14px;
  background: #dccf23;
  border-radius: 50%;
  color: #000;
  font-size: 10px;
  font-weight: 600;
  cursor: pointer;
}

.srch-input {
  border-radius: 10px;
  margin-right: 10px;
  padding: 5px;
  border: none;
}

.nav-toggle {
  display: none;
  color: #ba46e4;
  font-size: 2rem;
  transition: all 0.2s ease-in-out;
}

.nav-close-btn {
  display: none;
  color: #ba46e4;
  font-size: 1.7rem;
} 

@media (max-width: 956px) {
  .nav {
    position: fixed;
    right: -40vw;
    top: 0px;
    width: 40vw;
    background-color: #505251;
    min-height: 100vh;
    z-index: 100;
    transition: all 0.2s ease-in-out;
  }

  .nav.active {
    right: 0vw;
  }

  .nav .list {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0px !important;
    padding: 5rem 0rem !important;
  }

  .nav .list a{
    font-size: 0.8rem
  }

  .nav-toggle {
    display: block;
    position: fixed;
    top: 100px;
    right: 20px;
    z-index: 99;
  }

  .nav-close-btn {
    display: block;
    position: absolute;
    top: 2%;
    left: 8%;
  }
}