.userList-container {
    padding: 16px;
}

.table-container table {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

.table-container table th {
    padding: 8px 6px;
    text-align: left;
}

.table-container table tbody td {
    padding: 8px 6px;
}

@media (min-width: 768px) {
    .table-container {
        flex-direction: row;
    }

    .table-container table {
        width: 80%;
    }
}